<launch>

  <!-- Load RQT with a pre-setup GUI for Baxter controls from a perspective file  -->
  <node name="multilink_balancer_rqt" pkg="rqt_gui" type="rqt_gui" respawn="false"
	output="screen" args="--perspective-file $(find multilink_balancer_control)/launch/multilink_balancer_rqt.perspective"/>

</launch>