<launch>

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find multilink_balancer_control)/config/multilink_balancer_control.yaml" command="load"/>

    <!-- load the torque controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="/multilink_balancer" args="joint_state_controller
                                                       joint1_torque_controller
                                                       joint2_torque_controller
                                                       joint3_torque_controller
                                                       joint4_torque_controller"/>
    
    <!-- load the position controllers -->
    <!--
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="/multilink_balancer" args="joint_state_controller
        joint1_position_controller
        joint2_position_controller"/>-->

    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
        <remap from="/joint_states" to="/multilink_balancer/joint_states" />
    </node>

</launch>
